*{
    text-align: center;
    font-family: "Luminari", fantasy;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}
.slidecontainer {
    width:100%;
}

.slidecontainerB {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background : green;
    cursor: pointer;
}
